.dashboardWrap{
    padding-left: 256px;
    min-height: 100vh;
}
.dashboardWrap .menuSidebar {
width: 256px;
}
.dashboardWrap .dashboardInner {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "aa aa bb bb" "cc cc cc cc" "dd dd dd dd" "ee ee ee ee" "ff ff ff ff";
}
.dashboardWrap table tr:last-of-type td {
    border: 0;
}