.customerEngineer{
    position: relative;
    z-index: 1;
    height: calc(100vh - 145px);
}
.customerEngineer::before{
    content: "";
    background-image: url(../../../assets/images/CustomerEngineeringBg.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.customerEngineer .customerEngineerInner{
   display: grid;
   grid-template-columns: 1fr 790px;
   padding-left: 0;
   max-width: 82%;
   width: 100%;
   margin-left: auto;
   padding-top: 34px;
}
.customerEngineer .customerEngineerInner table tr td:first-child{
   width: 30%;
}
.customerEngineer .customerEngineerInner table tr td:last-child{
   width: 30%;
}
.customerEngineer .customerEngineerInner table tr td{
   width: 40%;
   vertical-align: text-top;
   line-height: 1.2;
}
.customerEngineer .customerEngineerInner table tr th:first-child{
   width: 30%;
}
.customerEngineer .customerEngineerInner table tr th:last-child{
   width: 30%;
}
.customerEngineer .customerEngineerInner table tr th{
   width: 40%;
}
.customerEngineer .customerEngineerInner table{
    border-collapse: separate;
    border-spacing: 0 16px; 
}

@media screen and (max-width: 1680px) {
   .customerEngineer {
     height: calc(100vh - 80px);
 }
 }